package views

templ Blog() {
    @Layout("Blog") {
        <h1 class="text-3xl font-bold text-gray-800 mb-4">My Blog</h1>
        <p class="text-gray-600">Here you'll find my latest blog posts.</p>
    }
}